body{
	width: 100%;
	background: linear-gradient(12deg, red, orange, tomato, yellow, green, springgreen, blue, indigo, violet );

    background-size: 2400% 2400%;

    -webkit-animation: backgroundRainbow 100s ease infinite;

    -moz-animation: backgroundRainbow 100s ease infinite;

    -o-animation: backgroundRainbow 100s ease infinite;

    animation: backgroundRainbow 100s ease infinite;

    .transition {
    transition-timing-function: linear;
    transition-timing-function: step(4, end);
    transition-timing-function: cubic-bezier(0.25, -0.8, 0.75, 2);
    transition-timing-function: ease-in, step-start, cubic-bezier(0.2, 1.75, 0.8, 0.75);
}

}
@-webkit-keyframes backgroundRainbow {

    0%{background-position:10% 0%}

    50%{background-position:91% 100%}

    100%{background-position:10% 0%}

}

@-moz-keyframes backgroundRainbow {

    0%{background-position:10% 0%}

    50%{background-position:91% 100%}

    100%{background-position:10% 0%}

}

@-o-keyframes backgroundRainbow {

    0%{background-position:10% 0%}

    50%{background-position:91% 100%}

    100%{background-position:10% 0%}

}

@keyframes backgroundRainbow {

    0%{background-position:10% 0%}

    50%{background-position:91% 100%}

    100%{background-position:10% 0%}

}
img {
    height: 50px;
    width: 50px;
}
.img {
    width: 30%;
    height: 20%;
    justify-content: center;
    align-self: center;
    border: 1px solid blue;
}
.section {
	display: flex;
	flex-direction: row;
	width: 100%;
	border: solid black 1px;
	height: 100%;
	flex-wrap: wrap;
	
}
.table{
	display: flex;
	justify-content: center;

}
.article{
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	
	order: 2;
	width: 20em;
	border-radius: 60px;
	margin-bottom: 10px;
	height: 100%;
	
}
.form{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	border: 1px solid black;
	padding: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: auto;
	border-radius: 10%;
	width: 100%;
	height: 100%;
	background: #fff;
    border: 1px black solid;
    border-radius: 13px;
    -webkit-box-shadow: 0px 5px 35px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 35px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 35px 5px rgba(0, 0, 0, 0.25);
}
.label{
    text-align: center;
}
.liste_fichiers{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px black solid;
	border-radius: 2%;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 4px;
	margin-left: 4px;
	order: 1;
}
input {

    font-size: 20px;

    color: black;

    line-height: 25px;

    display: block;

    margin-bottom: 15px;

    transition: ease .3s;

    margin-left: 10px;

    cursor: pointer;
    padding: 5px;
   	background-color: rgba(3, 31, 76, 0.8);
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;

}
/*input[type="file"]{
    width: 50%;
    border: 1px solid black;
    background-color: red;
  }*/

.valider{
	display: flex;
	justify-content: center;ct
}
textarea{
	border: 1px solid black;
	border-radius: 10%;
	color: black;
 	padding: 5px;
   	background-color: rgba(3, 31, 76, 0.8);
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
a {

    text-decoration: underline !important;
    color: black;
}
td a {
    font-size: 30px;
}

a:hover {

    color: blue;

}
.label-file {
	border:1px solid black;
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
     color: black;
 	padding: 5px;
   	background-color: rgba(3, 31, 76, 0.8);
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.label-file:hover {
    color: #25a5c4;
}


.input-file {
    display: none;
}
tr, td {

    border: 0.5px solid blue;
    border-radius: 2px;
}
/*td{
    width: 27%;
    height: 5em;
}*/
table{

    background: #fff;
    width: 50%;
    height: 50%;
    border: 1px black solid;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 5px 35px 5px rgba(0, 0, 0, 0.25);

    -moz-box-shadow: 0px 5px 35px 5px rgba(0, 0, 0, 0.25);

    box-shadow: 0px 5px 35px 5px rgba(0, 0, 0, 0.25);

    padding-top: 1px;
}
.delete{
   

    
    
    width: 20px;
    height: 5px;
}
.del-button{
    border: 1px solid black;
    height: 100%;
}
.alter-button{
  border: 1px solid blue;
  height: 100%;
}
.nio{
    width: 90%;
    height: 100%;
    margin-right: 5px;
    display: flex;

    justify-content: center;
}
td{
    padding-left: 4px;
    padding-right: 4px
}
.text-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;

}


.h-details
                {
                    font-style: oblique;
                    font-weight: 900;
                    text-align: center;
                    align-self: center;
                    align-items: center;
                }

 nav{
    display: flex;

    justify-content: flex-end;
    text-align: center;
    background-color: #00000010;
 }

 ul{
    /*background-color: #ff8000;*/
    list-style: none;
    display: flex;
    flex-direction: row;
    
 }

 li a {
    position: relative;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
 }

 li a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #183b75;

 }

 li ul {
    display: none;
 }
 li:hover ul {
    position: absolute;
    display: block;
    padding-left: 0; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
 }