img
		{
			height: 50px;
			width: 50px;
		}
/*body
 		{
 			
 		}
 h1
 {
 	text-align: center;
 }
 section
 	{
 		border: 1px solid black;
 		display: flex;
 		justify-content: center;
 		align-items: center;
 		height: 600px;
 		width: 100%;
 		overflow: auto;
 	}
 a
 	{
 		font-size: 30px;
 	}*/